
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.mainWrapper {
    display: flex;
    flex-direction: column;
    
 }
 .blok1 {
     display: flex;
     flex-direction: column;
     background: linear-gradient(0deg, rgba(64, 65, 73, 0.3), rgba(64, 65, 73, 0.3)), url(../image/brige.svg)  no-repeat center center fixed;
     height: 740px;
}
.blok1t {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .top {
     display: flex;
     justify-content: space-between;
     padding: 20px 270px;
 }
 
 .texth1 {
     font-family: Oswald;
     font-weight: 500;
     font-size: 64px;
     line-height: 95px;
     width: 740px;
     margin-bottom: 0px;
     color: white;
     }
 .textp {
     font-family: Oswald;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 27px;
     width: 740px;
     margin-top: 10px;
     color: white;
     text-transform: uppercase;
     text-align: center;
 
 }
 .blok2 {
     display: flex;
    width: 900px;
    height: 250px;
    background-color:#F7F7F7;
    margin: -130px auto 0px;
    justify-content: center;
    align-items: center;
}
 .blok3 {
     display: flex;
     justify-content: center;
}
.blok3h2 {
    display: flex;
    justify-content: center;
}
.image{
    width: 350px;
    height: 380px;
}
h2 {
width: 506px;
height: 43px;
margin-top: 100px;
font-family: Oswald;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
text-align: center;
}
h3 {
width: 142px;
height: 29px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #404149;
}
p {
width: 350px;
height: 83px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #999999;
text-align: left;
}
.strip {
width: 55px;
height: 6px;
padding-right: 300px;


}
.blok4 {
display: flex;
height: 181px;
background: #F7654A;
margin-top: 300px;
justify-content: space-between;
text-align: left;
padding: 0px 200px;
}
.textblok4 {
width: 537px;
height: 57px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 0.02em;
color: #FFFFFF;

}
.textpblok4 {
width: 562px;
height: 29px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-top: 20px;

}
.blok5 {
    display: flex;
    flex-direction: column;
}
.blok51 {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}
.blok52 {
    display: flex;
    justify-content: center;
}
.blok5image {
width: 350px;
height: 250px;
background: #F7F7F7;
display: flex;
align-items: center;
flex-direction: column;
padding-top: 60px;
}
.pblok5 {
width: 172px;
height: 62px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;
color: #000000;
} 
.divblok5 {
    display: flex;
    justify-content: center;
}
.hblok5 {
width: 351px;
height: 43px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
margin-top: 150px;
}
.blok6 {
    background: url(../image/portfolio.svg);
    height: 814px;
    margin-top: 200px;
}
.hblok7 {
    width: 321px;
    height: 53px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
color: #000000;
margin-top: 150px;
}
.blok7111 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 300px;
}
.pblok71 {
    height: 0px;
    width: 700px;
    overflow: hidden;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    transition: height 1s ease-in-out;
}
.polygon {
    display: flex;
}
.imgpol {
    padding: 5px;
} 
.blok7 {
    height: 500px;
}
.divblok7 {
    display: flex;
    justify-content: center;
}
.blok71 {
    display: flex;
    flex-direction: column;
}
.pblok7 {
width: 700px;
height: 35px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #F7654A;
}
.polygon:hover + .pblok71 {
    display: block;
    height: 90px;
}
.imgpol:hover {
    transform: rotate(90deg);
}
.pblok8 {
    width: 256px;
    height: 43px;
    font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 100px;
}
.blok8 {
    background:  #404149;
    height: 364px;
}
.berko1 {
    margin: 30px;
}
.berko {
    display: flex;
    justify-content: center;
}
.divblok8 {
    display: flex;
    justify-content: center;
}
.blok9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blok91 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 259px;
    background: #F7F7F7;
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
}
.pblok9 {
 width: 290px;
height: 142px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #999999;
}

.pblok91 {
    width: 350px;
height: 25px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 31px;
letter-spacing: 0.02em;
color: #000000;
}
span {
    color: red;
}
.blok911 {
    display: flex;
    justify-content: center;
}
.hblok9 {
width: 398px;
height: 53px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #000000;
margin-top: 150px;
}
.blok912 {
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.blok10 {
    width: 100%;
    display: flex;
height: 181px;
background: #F7654A;
margin-top: 150px;
text-align: left;
justify-content: space-around;

}
.textblok10 {
    width: 586px;
height: 57px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 0px;
}
.textpblok10 {
width: 562px;
height: 29px;
font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.02em;
color: #FFFFFF;
} 
.blok11ikon {
    display: flex;
    flex-direction: row;
}
.blok11 {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hblok11 {
    width: 159px;
height: 53px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
color: #000000;
margin-top: 100px;
}
.blok112 {
    width: 255px;
    height: 191px;
}
.h1blok11 {
    width: 255px;
height: 29px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

/* gray */

color: #999999;
}
.h2blok11 {
    width: 255px;
height: 72px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #000000;
}
.h2message {
    width: 255px;
height: 36px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #F7654A;
}
.h1message {
width: 255px;
height: 29px;
font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #999999;
}
.blok11ikon {
    margin-top: 40px;
}
.blok112 {
    margin: 20px;
}
.blok12 {
    width:100%;
    background: #404149;
    height: 82px;
    display: flex;
    justify-content: space-around;
}
.p1blok12 {
    width: 281px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
margin-top: 32px;
}
.p2blok12 {
    width: 281px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
margin-top: 32px;
}











    
